In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
df= pd.read_csv(r"D:\2023-02\2023-02-avon-and-somerset-outcomes.csv")
df

,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Outcome type
0,06871c19e6c6f5782e32f2e5a6a696932b4e65132e5a3a...,2023-02,Avon and Somerset Constabulary,Avon and Somerset Constabulary,-2.392817,51.380321,On or near MILL LANE,E01014464,Bath and North East Somerset 011D,Suspect charged
1,33e162f6910c6dcac4da5a5b240ff2c2b055f9cb7da126...,2023-02,Avon and Somerset Constabulary,Avon and Somerset Constabulary,NaN,NaN,No location,NaN,NaN,Unable to prosecute suspect
2,81b5cd317a511c31160564198b2fbc58367e449677f638...,2023-02,Avon and Somerset Constabulary,Avon and Somerset Constabulary,NaN,NaN,No location,NaN,NaN,Formal action is not in the public interest
3,8f89f2b7c0e2e609f3c13f2ee0c49130359b03e94f0a64...,2023-02,Avon and Somerset Constabulary,Avon and Somerset Constabulary,NaN,NaN,No location,NaN,NaN,Unable to prosecute suspect
4,767e05dee5caf5ea0b119e6f99a0a8effbead739d54cfd...,2023-02,Avon and Somerset Constabulary,Avon and Somerset Constabulary,NaN,NaN,No location,NaN,NaN,Offender given a caution
...,...,...,...,...,...,...,...,...,...,...
6194,218bdea11bd4aca908d0a3d1832c6fd67f7966dafc9f43...,2023-02,Avon and Somerset Constabulary,Avon and Somerset Constabulary,-2.410687,51.528963,On or near SLIMBRIDGE CLOSE,E01014894,South Gloucestershire 014C,Unable to prosecute suspect
6195,218bdea11bd4aca908d0a3d1832c6fd67f7966dafc9f43...,2023-02,Avon and Somerset Constabulary,Avon and Somerset Constabulary,-2.410687,51.528963,On or near SLIMBRIDGE CLOSE,E01014894,South Gloucestershire 014C,Unable to prosecute suspect
6196,407a120e57947e84b1849f8052d2cbc2d829abd33052da...,2023-02,Avon and Somerset Constabulary,Avon and Somerset Constabulary,-2.999436,51.107284,On or near COTSWOLD WAY,E01032630,Sedgemoor 014G,Formal action is not in the public interest
6197,407a120e57947e84b1849f8052d2cbc2d829abd33052da...,2023-02,Avon and Somerset Constabulary,Avon and Somerset Constabulary,-2.999436,51.107284,On or near COTSWOLD WAY,E01032630,Sedgemoor 014G,Unable to prosecute suspect
6198,f7b9fa8f6c93edb6929fc2187fcbfee691d88c4a87253d...,2023-02,Avon and Somerset Constabulary,Avon and Somerset Constabulary,-2.676240,51.491415,On or near WOODVIEW CLOSE,E01014492,Bristol 008A,Unable to prosecute suspect

In [ ]:
df.describe()

         Longitude     Latitude
count  5831.000000  5831.000000
mean     -2.696249    51.323923
std       0.256491     0.193693
min      -3.593750    50.478048
25%      -2.947397    51.163932
50%      -2.598667    51.409721
75%      -2.543006    51.463291
max       0.681648    52.529727

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6199 entries, 0 to 6198
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Crime ID      6199 non-null   object
 1   Month         6199 non-null   object
 2   Reported by   6199 non-null   object
 3   Falls within  6199 non-null   object
 4   Longitude     5831 non-null   float64
 5   Latitude      5831 non-null   float64
 6   Location      6199 non-null   object
 7   LSOA code     5831 non-null   object
 8   LSOA name     5831 non-null   object
 9   Outcome type  6199 non-null   object
dtypes: float64(2), object(8)
memory usage: 484.4+ KB

In [ ]:
df.isnull().sum()

Crime ID          0
Month             0
Reported by       0
Falls within      0
Longitude       368
Latitude        368
Location          0
LSOA code       368
LSOA name       368
Outcome type      0
dtype: int64

In [ ]:
name = input("what is your name?: ")
name

'Vivid Ibori'

In [ ]:
name

'Vivid Ibori'

In [ ]:
age = input(28)
print(f"My name is {name}, and i am {age} years old")

My name is Vivid Ibori, and i am 28 years old

In [ ]:
length = float(input("enter the lenght: "))
width = float(input("enter the width: "))
area = length * width
print(f"The area is : {area}cm")

The area is : 43.92cm

In [ ]:
item = input("What item would you like to buy?: ")
price = float(input("What is the price?: "))
quantity = int(input("How many would you like?: "))
total = price * quantity
print(f"You have bought {quantity}x {item}s")
print(f"Your total is {total}$")

You have bought 8x pizzas
Your total is 80.0$

In [ ]:
adjective= input("Enter an adjective (description): ")
noun =input("Enter a noun (The person, place or thing): ")
adjective2= input("Enter an adjective (description): ")
noun1 =input("Enter a noun (The person, place or thing): ")
verb =input("Enter a verb ending with 'ing'")
adjective3= input("Enter an adjective (description): ")

print(f"Today I went to a {adjective} Zoo.")
print(f"In an exhibit, I saw a {noun}")
print(f"{noun1} was {adjective2} and {verb}")
print(f"I was {adjective3}!")

Today I went to a Sussy Zoo.
In an exhibit, I saw a Mark
Mark was Running and angry
I was sussy!

In [ ]:
friend= 5
print(friend)

5

In [ ]:
friend **= 3
print(friend)

125

In [ ]:
friends = 30
friends = friends % 2
print(friends)

0

In [ ]:
y =7.8
result = pow(y,y)
print(result)

9085271.309522783

In [ ]:
import math as mt
#

In [ ]:
print(mt.pi)

3.141592653589793

In [ ]:
print(mt.e)

2.718281828459045

In [ ]:
print(mt.sqrt(y))

2.792848008753788

In [ ]:
print(mt.ceil(y))

8

In [ ]:
print(mt.floor(y))

7

In [ ]:
radius =float( input("Enter the radius of a circle"))

c = 2* mt.pi* radius

print(f"The circumference is : {round(c,2)}cm")

The circumference is : 65.97cm

In [ ]:
radius =float( input("Enter the radius of a circle"))

area = mt.pi * pow(radius ,2)



print(f"The area of the circle  is : {round(area,2)}cm^2")

The area of the circle  is : 346.36cm^2

In [ ]:
name =input("Enter your Name: ").strip().ca


if name =="Vivid":
    print(f"{name.capitalize()} You are now sign up!")
else:
    print(f"{name.capitalize()} You are not Sign up!")

Vantage You are not Sign up!

In [ ]:
name = input("Enter your Name: ").strip().lower()  # Convert input to uppercase

if name == "VIVID":  # Compare with uppercase version
    print(f"({name}) You are now signed up!")
else:
    print(f"({name}) You are not signed up!")

(vantage) You are not signed up!

In [ ]:
text1 = "HELLO"
text2 = "hello"

print(text1.lower() == text2)      # Output: True
print(text1.casefold() == text2)   # Output: True

True
True

In [ ]:
german_word1 = "straße"  # German word for "street"
german_word2 = "STRASSE"

print(german_word1.lower() == german_word2.lower())      # Output: False
print(german_word1.casefold() == german_word2.casefold())  # Output: True

False
True

In [ ]:
operator = input("What is your operator? ")
num1 = int(input("What is your first number? "))
num2 = int(input("What is your second number? "))



if operator == '+':
    result=(num1+num2)
    print(round(result,2))
elif operator == "-":
    result=(num1-num2)
    print(round(result,2))
elif operator == "/":
    result=(num1/num2)
    print(round(result,2))
elif operator == "*":
    result=(num1*num2)
    print(round(result,2))
else:
    print("operator is not valid")

10.0

In [ ]:
# Get the operator from the user
operator = input("What is your operator? (+, -, *, /): ")

# Get numbers from the user (comma-separated)
numbers = input("Enter your numbers separated by commas: ")

# Convert the input string into a list of numbers
num_list = [float(num) for num in numbers.split(",")]

# Perform the operation
if operator == "+":
    result = sum(num_list)

elif operator == "-":
    result = num_list[0]
    for num in num_list[1:]:
        result -= num

elif operator == "*":
    result = num_list[0]
    for num in num_list[1:]:
        result *= num

elif operator == "/":
    result = num_list[0]
    for num in num_list[1:]:
        if num == 0:
            print("Error: Division by zero is not allowed.")
            break
        result /= num

else:
    print(f"{operator} is not valid operator.")
    result = None  # Set result to None if the operator is invalid

# Print the final rounded result if valid
if result is not None:
    print(f"Result: {round(result, 2)}")

[ is not valid operator.

In [ ]:
def name(x,y):
    if x == "Vivid"and y == "Ibori":
        print(f"{x} you are welcome")
    else:
        print(f"{x} your access is denied")

In [ ]:
def name(x, y):
    # Convert inputs to lowercase for case-insensitive comparison
    if x.capitalize() == "Vivid" and y.capitalize() == "Ibori":
        print(f"{x} {y}, you are welcome")
    else:
        print(f"{x} {y}, your access is denied")

# Example calls
name("Vivid", "Ibori")      # ✅ Vivid you are welcome
name("vivid", "ibori")      # ✅ vivid you are welcome
name("John", "Doe")         # ❌ John, your access is denied
name("Vivid", "Smith")      # ❌ Vivid, your access is denied

Vivid Ibori, you are welcome
vivid ibori, you are welcome
John Doe, your access is denied
Vivid Smith, your access is denied

In [ ]:

# Correctly define the dictionary
tryy = {"x": "Vivid", "y": "ori"}

# Call function using dictionary unpacking
name(**tryy)

Vivid ori, your access is denied